flask[async]
asgiref
google-generativeai
python-dotenv
Pillow
requests
python-multipart
aiohttp
cloudinary
git+https://github.com/SpeechifyInc/speechify-api-sdk-python
xhtml2pdf
gunicorn
gradio_client