
#driver-popover-item {
    background-color: #f0e6d2;
    color: #3a2d1c;
    border: 2px solid #3a2d1c;
}

#driver-popover-item .driver-popover-title {
    font-size: 1.5rem;
    font-family: "Luminari", "fantasy";
}

#driver-popover-item .driver-popover-description {
    font-size: 1.1rem;
}

#driver-popover-item .driver-popover-arrow-side-left.driver-popover-arrow {
    background: #f0e6d2;
    border-color: #3a2d1c;
}

#driver-popover-item .driver-popover-arrow-side-right.driver-popover-arrow {
    background: #f0e6d2;
    border-color: #3a2d1c;
}

#driver-popover-item .driver-popover-arrow-side-top.driver-popover-arrow {
    background: #f0e6d2;
    border-color: #3a2d1c;
}

#driver-popover-item .driver-popover-arrow-side-bottom.driver-popover-arrow {
    background: #f0e6d2;
    border-color: #3a2d1c;
}

.driver-popover-footer button {
    background-color: #3a2d1c;
    color: #f0e6d2;
    text-shadow: none;
    font-size: 1rem;
}

.driver-popover-footer button:hover {
    background-color: #5c4b33;
    color: #f0e6d2;
}

.driver-narrator {
    position: fixed;
    bottom: 0px;
    left: 20px;
    width: 200px;
    height: auto;
    z-index: 10001; /* Above the overlay */
    display: none; /* Initially hidden */
}

.tour-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10002; /* Above narrator and overlay */
    padding: 10px;
    font-size: 1.5rem;
}
