.actions {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    gap: 10px;
}

.actions .pixel-button, .actions a.pixel-button {
    width: 40px;
    height: 40px;
}

.header {
    display: none;
}

.back-button-mobile {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    text-shadow: 2px 2px #000;
    z-index: 2;
}