<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Public Stories</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/browse.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/driver.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/narrator.css') }}">
</head>
<body data-narrator-image-url="{{ url_for('static', filename='images/narrator.png') }}">
    <div id="custom-driver-overlay"></div>
    {% include 'header.html' with context %}
    <div class="container mx-auto px-4 py-8">

        <h1 class="text-4xl text-center mb-8 pixel-font">Browse Public Stories</h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
            {% for story in stories %}
                <a href="{{ url_for('story.view_story', story_uuid=story.value.story_uuid) }}" class="story-card bg-white rounded-lg shadow-lg overflow-hidden transform transition-transform duration-300 hover:scale-105">
                    {% if story.value.images and story.value.images[0].url %}
                        <img src="{{ story.value.images[0].url }}" alt="{{ story.value.title }}" class="w-full h-48 object-cover">
                    {% else %}
                        <div class="w-full h-48 bg-gray-200 flex items-center justify-center">
                            <span class="pixel-font">No Image</span>
                        </div>
                    {% endif %}
                    <div class="p-4">
                        <h3 class="text-lg pixel-font">{{ story.value.title }}</h3>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/driver.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/tour.js') }}"></script>
</body>
</html>
