<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='driver.min.css') }}">
</head>
<body>
    <div class="story-form-container">
        <h2>Login</h2>
        <form method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <input type="submit" value="Send OTP" class="pixel-button">
        </form>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <script src="{{ url_for('static', filename='driver.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='tour.js') }}"></script>
</body>
</html>