<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Verify OTP</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <div class="story-form-container">
        <h2>Verify OTP</h2>
        <p>An OTP has been sent to {{ email }}. Please enter it below to login.</p>
        <form method="POST">
            <label for="otp">OTP:</label>
            <input type="text" id="otp" name="pin" required>
            <input type="submit" value="Verify" class="pixel-button">
        </form>
        <div id="flash-messages" data-messages="{{ get_flashed_messages(with_categories=true)|tojson }}" style="display: none;"></div>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        const messagesDiv = document.getElementById('flash-messages');
        const messagesData = messagesDiv.getAttribute('data-messages');
        if (messagesData) {
            const messages = JSON.parse(messagesData);
            if (messages) {
                messages.forEach(function(message) {
                    Toastify({
                        text: message[1],
                        duration: 3000,
                        close: true,
                        gravity: "top",
                        position: "right",
                        style: {
                            background: 'linear-gradient(to right, #ff5f6d, #ffc371)',
                            fontFamily: '"Press Start 2P", cursive'
                        }
                    }).showToast();
                });
            }
        }
    </script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>